.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.entry-tags{
	color: var(--#{$prefix}primary);
	font-weight: $font-weight-bold;
	font-size: $font-size-lg;
	font-style: italic;
	border-top: 2px solid var(--#{$prefix}primary);
	padding-top: .25rem;
	ul li a{
		color: var(--#{$prefix}primary);
		text-decoration: none;
		&:before{
			content: '#';
		}
	}
}


.entry-meta{
	font-size: $font-size-base;
	font-style: italic;
	margin-bottom: 1.25rem;
	a{
		text-decoration: none;
	}

	&:not(.d-flex) > * {
		&:before{
			content: '\2022';
			color: rgba(0, 11, 51, 0.5);
			padding: 0 .5rem;
			font-size: $font-size-sm;
			vertical-align: middle;
		}
		&:first-child:before{
			content: '';
			display: none;
		}
	}

	&.d-flex{
		> span {
			margin-left: 2rem;
			&:first-child{
				margin-left: 0;
			}
		}

		span.meta-lbl,
		span.meta-value {
			display: block;
		}

		span.meta-lbl{
			color: var(--#{$prefix}secondary);
		}
		
	}

	.entry-cats {
		.meta-value a{
			font-weight: $font-weight-bold;
		}
		.meta-value .sep{
			display: inline-block;
			margin: auto .5rem;
		}
	}
	
}

.avatar{
	width: 24px;
	height: 24px;
	border-width: 1px;
	border-style: solid;
	border-radius: 12px;
	margin-right: .5rem;
}


.page-content,
.entry-content,
.entry-summary {
	margin: 0 auto 1.5rem;
}

.entry-content{
	> b, > span, > em{
		display: inline-block;
	}
}


.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.single {
	.hentry{
		margin-bottom: 2.5rem;
	}
}

.page,
.search, 
.archive{
	.hentry{
		margin-bottom: 1.5rem;
	}
}


.page, .single{
    .entry-header:not(.grid-entry-header){
        margin-bottom: 2rem;
		border-bottom: 2px solid var(--#{$prefix}primary);
		&.hidden-title.hidden-meta{
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			border: 0 !important;
		}
    }
}

.page-title{
	letter-spacing: -1pt;
}

.page-title span {  
	font-weight: bold !important;
}

.featured-img{
	img {
		display: block;
		margin: 0 auto;
	}
}

.layout-grid {

    .hentry{
		.entry-title{
			word-wrap: break-word;
			line-height: 1.1;
			&:after{
				content: '';
				display:block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 4px;
				color: var(--bs-border-color);
			}
		}

		.featured-img {
			width: 100%;
			height: 100%;
		}
    }
}


@include media-breakpoint-up(md) {
	.layout-grid {
		.hentry{
			.entry-content{
				height: 220px;
				.featured-img{
					height: 100%;
				}
			}
		}
	}
}


.entry-footer:not(.grid-entry-footer){
	clear: both;
}
